@import url("reset.css");
@import url("basic.css");

body {
    font-family: "Anton", sans-serif;
    background-color: #01071a;
}

.wrapper-horizontal {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100vh;
    padding: 5%;
}

.login-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 12px;

    font-size: 12px;
}

input[type="text"] {
    margin: 8px 0px;
    padding: 0 8px;
    width: 300px;
    height: 40px;
    background-color: #010a26;
    color: #7d7d7d;
}

.login-panel input {
    border: 0;
}

.login-panel .submit-bttn {
    width: 300px;
    height: 40px;
    margin-left: auto;
    font-weight: bold;
    font-size: large;
    background-color: #f63738;
    border-top: 1px solid grey;
    color: #7f2021;
}

.login-panel .submit-bttn:hover {
    background-color: #7f2021;
    color: #f63738;
    font-weight: bold;
}

.login-panel input::placeholder {
    color: #edefea;
}

.accpsswd {
    padding: 20px 0;
}

.accpsswd li {
    display: inline-block;
}

.accpsswd li a::after {
    content: "";
    margin: 4px;
}

footer {
    margin-top: auto;
}

.horizontal-list {
    text-align: center;
    font-size: 12px;
}

.horizontal-list li {
    display: inline-block;
    padding: 0 4px;
}

.main-color {
    color: #7f2021;
}

.basic-color {
    color: #7d7d7d;
}

.white-color {
    color: white;
}

.border {
    border: 1px solid red;
}

.login-heading {
    font-family: Anton;
    margin-bottom: 5px;
}

.login-heading::before {
    content: ".";
    display: inline-block;
    width: 15px;
    margin-right: 15px;
    color: #f63738;
    background-color: #f63738;
}

.remember-me {
    display: flex;
}

input[type="checkbox"] {
    visibility: hidden;
}
.checkboxOverride {
    position: relative;
    margin-right: 4px;
}
.checkboxOverride input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.checkboxOverride label {
    background: none repeat scroll 0 0 #010a26;
    border: 1px solid #7f2021;
    cursor: pointer;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
}
.checkboxOverride label:after {
    border-style: none none solid solid;
    content: "";
    top: 2px;
    left: 2px;
    height: 4px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
    width: 8px;
    border-color: #7f2021;
}
