@import url("reset.css");
@import url("basic.css");

body {
    font-family: "Roboto", sans-serif;
    background-color: #112a40;
}

.wrapper-horizontal {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100vh;
    padding: 5%;
}

.login-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 12px;

    font-size: 12px;
}

.login-panel .login-input,
.psswd-input {
    margin: 8px 0px;
    padding: 0 8px;
    width: 300px;
    height: 40px;
    background-color: #1c4366;
    color: #edefea;
}

.login-panel input {
    border: 0;
}

.login-panel .submit-bttn {
    width: 100px;
    height: 40px;
    margin-left: auto;
    background-color: #112a40;
    border: 2px solid #f28b0c;
    color: #f28b0c;
}

.login-panel .submit-bttn:hover {
    background-color: #f28b0c;
    color: #112a40;
    font-weight: bold;
}

.login-panel input::placeholder {
    color: #edefea;
}

.login-panel .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0;
}

footer {
    margin-top: auto;
}

.footer-list {
    text-align: center;
    font-size: 12px;
}

.footer-list li {
    display: inline-block;
    padding: 0 4px;
}

.main-logo {
    width: 300px;
}

.main-color {
    color: #f28b0c;
}

.basic-color {
    color: #edefea;
}

.border {
    border: 1px solid red;
}
