<section class="wrapper-horizontal">
  <div class="wrapper">
    <form
      class="login-panel"
      (ngSubmit)="login()"
      [formGroup]="loginForm"
      novalidate
    >
      <h3 class="login-heading">sign in</h3>

      <input
        name="email"
        class="login-input"
        type="text"
        placeholder="Email"
        formControlName="email"
        (change)="isEmailUsed()"
      />
      <div
        class="error"
        *ngIf="(email.touched || email.dirty) && email.invalid"
      >
        <div *ngIf="email.hasError('required')">Email is required</div>
        <div *ngIf="email.hasError('email')">This is not an email</div>
        <div *ngIf="!isEmail">There is no account for this email</div>
      </div>
      <input
        class="login-input"
        type="password"
        placeholder="password"
        formControlName="password"
        (change)="isEmailUsed()"
      />
      <div
        class="error"
        *ngIf="(password.touched || password.dirty) && password.invalid"
      >
        <div *ngIf="password?.hasError('required')">Password is required</div>
        <div *ngIf="password?.hasError('minlength')">Minimal length is 6</div>
      </div>
      <div class="error" *ngIf="invalidPassword">Password doesn't match</div>
      <div class="checkbox-override remember-me">
        <input
          type="checkbox"
          class="remember-me-checkbox"
          id="remember-me"
          [checked]="isChecked"
        />
        <label class="remember-me-checkbox-label" for="remember-me"></label>
        <span class="remember-me-text">Remember me</span>
      </div>
      <button class="submit-button" [disabled]="loginForm.invalid">
        sign in
      </button>
      <ol class="account-password">
        <li class="account-password-li">
          <a
            class="forgot-password-link account-password-li"
            [routerLink]="['#']"
            >Forgot password?</a
          >
        </li>
        <li class="account-password-li">
          <a
            class="create-account-link account-password-li"
            [routerLink]="['/register-page']"
            >Create an account</a
          >
        </li>
      </ol>
    </form>

    <cms-footer></cms-footer>
  </div>
</section>
