.wrapper-horizontal {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 100vh;
  padding: 5%;
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 12px;

  font-size: 12px;
}

.login-input {
  margin: 8px 0px;
  padding: 0 8px;
  width: 300px;
  height: 40px;
  background-color: #010a26;
  color: #7d7d7d;
  border: 0;
}

.login-input::placeholder {
  color: #edefea;
}

.login-panel .submit-button {
  width: 300px;
  height: 40px;
  margin-left: auto;
  font-weight: bold;
  font-size: large;
  background-color: #f63738;
  border-top: 1px solid grey;
  color: #7f2021;
  text-transform: uppercase;
}

.login-panel .submit-button:hover {
  background-color: #7f2021;
  color: #f63738;
  font-weight: bold;
}

.login-panel .submit-button:disabled {
  background-color: grey;
  color: black;
  font-weight: bold;
}

.account-password {
  padding: 20px 0;
}

.account-password-li {
  display: inline-block;
}

.account-password-li::after {
  content: "";
  margin: 4px;
}

.forgot-password-link {
  color: #7d7d7d;
}

.create-account-link {
  color: #7f2021;
}

.footer {
  margin-top: auto;
}

.horizontal-list {
  text-align: center;
  font-size: 12px;
}

.horizontal-list-li {
  display: inline-block;
  padding: 0 4px;
}

.footer-text {
  color: #7d7d7d;
}

.login-heading {
  font-family: Anton, OpenSans;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}

.login-heading::before {
  content: ".";
  display: inline-block;
  width: 15px;
  margin-right: 15px;
  color: #f63738;
  background-color: #f63738;
}

.remember-me {
  display: flex;
}

.remember-me-text {
  color: #7f2021;
}

.remember-me-checkbox {
  visibility: hidden;
}
.checkbox-override {
  position: relative;
  margin-right: 4px;
}

.checkbox-override
  .remember-me-checkbox:checked
  + .remember-me-checkbox-label:after {
  opacity: 1;
}

.checkbox-override label {
  background: none repeat scroll 0 0 #010a26;
  border: 1px solid #7f2021;
  cursor: pointer;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.checkbox-override .remember-me-checkbox-label:after {
  border-style: none none solid solid;
  content: "";
  top: 2px;
  left: 2px;
  height: 4px;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 8px;
  border-color: #7f2021;
}

.error {
  color: red;
}
