<section class="wrapper-horizontal">
  <div class="wrapper">
    <form
      class="login-panel"
      (ngSubmit)="login()"
      [formGroup]="loginForm"
      novalidate
    >
      <cms-form-header>Sign in</cms-form-header>

      <cms-input
        [type]="'email'"
        [placeholder]="'Email'"
        [required]="true"
        (change)="isEmailUsed($event)"
      ></cms-input>

      <div *ngIf="email.touched && email.invalid">
        <cms-error [condition]="email.hasError('required')">
          Email is required
        </cms-error>
        <cms-error [condition]="email.hasError('email')">
          This is not an email
        </cms-error>
        <cms-error [condition]="!isEmail">
          There is no account for this email
        </cms-error>
      </div>

      <cms-input
        [type]="'password'"
        [placeholder]="'password'"
        [required]="true"
        [attr.minlength]="6"
        (change)="setPassword($event)"
      ></cms-input>

      <div *ngIf="password.touched && password.invalid">
        <cms-error [condition]="password?.hasError('required')">
          Password is required
        </cms-error>
        <cms-error [condition]="password?.hasError('minlength')">
          Minimal length is 6
        </cms-error>
      </div>

      <cms-error [condition]="invalidPassword">
        Password doesn't match
      </cms-error>

      <cms-input-checkbox [isChecked]="true">Remember me</cms-input-checkbox>

      <cms-form-button [form]="loginForm">Sign in</cms-form-button>
    </form>

    <cms-link-list [links]="'login'"></cms-link-list>
  </div>
</section>

<cms-footer></cms-footer>
